* {
    box-sizing: border-box;
}

body {
    background-color: #4682b4;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #2a4e6c;
    padding: 20px 40px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.textarea {
    position: relative;
    width: 300px;
    margin: 20px 0 40px;
}

.textarea input {
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    padding: 15px 0;
    /* 上下填充为15px 左右填充为0 */
    font-size: 18px;
}

.textarea input:focus {
    outline: 0;
    border-bottom-color: lightblue;
}

.textarea label {
    position: absolute;
    left: 0;
    top: 15px;
}

.textarea label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* transition: 0.3s ease; */
}

.textarea input:focus+label span {
    color: lightblue;
    transform: translateY(-30px);
}

.btn {
    background: lightblue;
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: lightblue;
}