* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

canvas {
    border: 2px solid steelblue;
}

.toolbox {
    background-color: steelblue;
    width: 804px;
    display: flex;
    padding: 1rem;
}

.toolbox>* {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    padding: 0.2rem;
    font-size: 2rem;
}

.toolbox :last-child {
    margin-left: auto;
}