* {
    box-sizing: border-box;
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    text-align: center;
}

.up {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.up::before {
    content: "";
    position: absolute;
    background-color: var(--line-border-empty);
    height: 4px;
    width: 100%;
    left: 0;
    z-index: -1;
}

.progess{
    background-color: var(--line-border-fill);
    position: absolute;
    height: 4px;
    width: 0;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}